@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.logo{
    width: 250px;
    border-radius: 5% ;
}

.container{
    padding-left: 80px;
    padding-right: 80px;   
    margin-bottom: 30px;
}

.nav{
    padding: 16px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.nav :hover {
    color: aqua;
    animation-duration: .5S;
}

.nav a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-right: 20px;
}

.btn-Donate{
    margin-right:10px;
    border: none;
    font-size: 20px;
    padding:6px 12px;
    background: #ff3de5;
    color: #2ab631;
    border-radius: 8px;
    cursor:pointer;
}

.hero{
    background-color: #e1f7ff;
    color: #3274cc;
    height: 80vh;
    padding-top: 80px;
}

.mt-10{
    margin-top: 10px;
}


.btn-1{
    text-decoration: none;
    color: white;
    background-color: #3274cc;
    padding: 10px;
    border-radius: 30px;
}

.mt-20{
    margin-top: 20px;
}
.btn-2{
    text-decoration: none;
    color: #3274cc;
    border: solid 2px #3274cc;
    /* background-color: #3274cc; */
    padding: 10px;
    border-radius: 30px;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.content-web{
    margin-top: 100px;
}

.content-1{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.what{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:stretch;
    margin-bottom: 50px;
}

.card-item{
    /* background: aqua; */
    text-align: center;
    width: 20%;
    padding : 20px;
    align-items: stretch;
    border-radius: 5px;
    box-shadow: 2px 5px 5px 1px rgba(0,0,0,5);
}

.card-title{
    /* font-size: 14px; */
    margin-top: bolder;
}

.logo2{
    width: 300px;
    border-radius: 5px;
    
}